name: Java CI with Gradle

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
      - run: chmod +x gradlew
      - run: java -jar ./artifacts/app-ibank-build-for-testers.jar &
      - run: sleep 10
      - run: ./gradlew test --info